</main>

<!-- 푸터 -->
<footer style="
    text-align: center;
    background: #120277;
    color: white;
    padding: 16px 0;
    line-height: 1.6;
    font-size: 14px;
">
    <div style="max-width: 800px; margin: 0 auto;">
        <small style="display: block; margin-bottom: 6px;">
            ⓒ 2025 DocuLab. All rights reserved.
        </small>

        <div style="margin-bottom: 6px;">
            고객센터 | 문의사항 <strong>02-123-4567~8</strong>
        </div>

        <div style="margin-bottom: 6px;">
            <strong>주소</strong> | 서울특별시 성동구 성수이로 알파코캠퍼스
        </div>

        <div style="white-space: nowrap;">
    <strong>Contact Us</strong> | 
    <a href="mailto:officemate@doculab.com" style="color:#38cb9a; text-decoration: none; white-space: nowrap;">
        Kim CY : stonez788@gmail.com | Yang SR : nftsgsrz3@gmail.com | Choi JW : pajama7522@gmail.com
    </a>
</div>
    </div>
</footer>

</body>
</html>